.w3-theme-l6 {color:#000 !important; background-color:#fef0f3 !important}
.w3-theme-l7 {color:#000 !important; background-color:#faced7 !important}
.w3-theme-l8 {color:#000 !important; background-color:#f69cae !important}
.w3-theme-l9 {color:#fff !important; background-color:#f16b86 !important}
.w3-theme-20 {color:#fff !important; background-color:#ed395d !important}
.w3-theme-d6 {color:#fff !important; background-color:#c51236 !important}
.w3-theme-d7 {color:#fff !important; background-color:#af1030 !important}
.w3-theme-d8 {color:#fff !important; background-color:#9a0e2a !important}
.w3-theme-d9 {color:#fff !important; background-color:#840c24 !important}
.w3-theme-d10 {color:#fff !important; background-color:#6e0a1e !important}

.w3-theme-light2 {color:#000 !important; background-color:#fef0f3 !important}
.w3-theme-dark2 {color:#fff !important; background-color:#6e0a1e !important}
.w3-theme-action2 {color:#fff !important; background-color:#6e0a1e !important}

.w3-theme2 {color:#fff !important; background-color:#dc143c !important}
.w3-text-theme2 {color:#dc143c !important}
.w3-border-theme2 {border-color:#dc143c !important}

.w3-hover-theme2:hover {color:#fff !important; background-color:#dc143c !important}
.w3-hover-text-theme2:hover {color:#dc143c !important}
.w3-hover-border-theme2:hover {border-color:#dc143c !important}