.bannerheight
{
	height:95px;
}

#imgbg
{
	background-image:
"images/Banner.png";
}

.footertext
{
	font-family:calibri;
	Font-size:20px;
	color:#ffffff;
	text-align:right;
	padding-right:15px
}
.footerheight
{
	height:74px;
}
.sideimages
{
	height:520px;
}

.headertext
{
	Font-family:calibri;
	font-size:30px;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
}
	
.videotext
{
	Font-family:calibri;
	font-size:25px;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
}
	
	
	
	
p
{
	Font-family:Arial;
	font-size:19px;
	color:#ffffff;
	text-align:justify;
	padding-left:15px;
	padding-right:15px;
}

.subheading
{
	Font-family:Calibri;
	font-size:24px;
	font-weight:bold;
	color:#ffffff;
	padding-right:15px;
}
.center
{ 
text-align: center;
}
.headerimage
{
height:100px
}
.centerimage
{ 
display: block;
    margin-left: auto;
    margin-right: auto;
   
}
	