.w3-theme-21 {color:#000 !important; background-color:#e8e8ff !important}
.w3-theme-22{color:#000 !important; background-color:#b3b3ff !important}
.w3-theme-23 {color:#fff !important; background-color:#6666ff !important}
.w3-theme-24 {color:#fff !important; background-color:#1a1aff !important}
.w3-theme-25 {color:#fff !important; background-color:#0000cc !important}
.w3-theme-d11 {color:#fff !important; background-color:#000073 !important}
.w3-theme-d12 {color:#fff !important; background-color:#000066 !important}
.w3-theme-d13 {color:#fff !important; background-color:#000059 !important}
.w3-theme-d14 {color:#fff !important; background-color:#00004d !important}
.w3-theme-d15 {color:#fff !important; background-color:#000040 !important}

.w3-theme-light3 {color:#000 !important; background-color:#e8e8ff !important}
.w3-theme-dark3 {color:#fff !important; background-color:#000040 !important}
.w3-theme-action3 {color:#fff !important; background-color:#000040 !important}

.w3-theme3 {color:#fff !important; background-color:#000080 !important}
.w3-text-theme3 {color:#000080 !important}
.w3-border-theme3 {border-color:#000080 !important}

.w3-hover-theme3:hover {color:#fff !important; background-color:#000080 !important}
.w3-hover-text-theme3:hover {color:#000080 !important}
.w3-hover-border-theme3:hover {border-color:#000080 !important}