<meta charset="UTF-8" >
<!-- SOME TUTOR CORRECTIONS MADE BELOW
	ALSO, YOU ARE MISSING SOME IMPORTANT
	HTML DEFINING THE BASIC DOCUMENT STRUCTURE
	(html, body, head etc)
-->
{% for doc in data %}
 <h3> Bus route: {{ doc["line"]}}</h3>
     <h3>Final Destination</h3>
	 <ul>
     {% for destination in doc["destination"] %}
		 <li>{{ destination }}</li>
     {% endfor %}
	</ul>
     <h3>Bus stop</h3>
	 <p>{{ doc["stop"] }}</p>
     <h3>Times</h3>
	<ul>
     {% for times in doc["times"] %}
		 <li>{{ times }}</li>
     {% endfor %}
	</ul>
{% endfor %}

